@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: #cafdff;
}

header {
    background-color: #eadcff;
    height: calc(100vh - 70px);
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 76px;
    margin-bottom: 16px;
}

.subheader {
    font-size: 36px;
    margin: 16px 0 24px 0;

}

button {
    color: white;
    background-color: #05c7cf;
    border: none;
    padding: 8px 16px;
    font-size: 24px;
    cursor: pointer;
}

a {
    color: black;
    font-size: 24px;
    font-weight: 700;
}

.logo {
    width: 300px;
}

ul{
    display: flex;
}

li {
    list-style-type: none;
    padding-left: 16px;
}

.row {
    width: 100%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#about, 
#discord, 
#contact,
#footer {
    padding: 48px;
}
/*

 ABOUT SECTION 
 
 */

#about {
    background-color: #f8ffdc;
}

h2 {
    font-size: 48px;
    margin-bottom: 24px;
    text-align: center;
}

.section__description {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 48px;
}

.about__image--wrapper img {
    width: 100%;
    padding: 0 24px;
}

.section__description--wrapper {
    width: 60%;
    padding: 0 24px;

}
.section__description--para {
    font-size: 20px;
    margin-bottom: 24px;
    line-height: 1.5;
}

/*

 DISCORD SECTION
 
 */

#discord {
    padding: 48px;
    background-color: #cefeff;
    text-align: center;
}

/*

 CONTACT SECTION

 */
 
 #contact {
    background-color: #dce9ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 form {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 600px;
 }

 input,textarea {
    margin-bottom: 24px;
    padding: 8px;
    font-size: 20px;
 }  

 /*

 FOOTER SECTION

 */

 footer {
    background-color: #aaf5ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
 }

    .footer__logo {
        max-width: 480px;
        margin-bottom: 16px;
    }

    .footer__links {
        display: flex;
        gap: 24px;
        margin: 16px 0;
    }

    .footer__link {
        padding: 0 16px;
    }
